<!DOCTYPE html>
<head th:replace="~{fragments/header :: header(title='SiwFood - Inserimento Cuoco')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbarAdmin :: navbarAdmin}"></div>

	<div class="container form-container mt-5">
		<h2>Aggiungi Nuovo Cuoco</h2>
		<form action="/admin/cuoco" method="post">
			<div class="form-group">
				<label for="nome">Nome</label>
				<input type="text" class="form-control" id="nome" name="nome" required>
			</div>
			<div class="form-group">
				<label for="cognome">Cognome</label>
				<input type="text" class="form-control" id="cognome" name="cognome" required>
			</div>
			<div class="form-group">
				<label for="dataDiNascita">Data di Nascita</label>
				<input type="date" class="form-control" id="dataDiNascita" name="dataDiNascita" required>
			</div>
			<div class="form-group">
				<label for="urlImage">URL Immagine</label>
				<input type="text" class="form-control" id="urlImage" name="urlImage">
			</div>
			<button type="submit" class="btn btn-primary">Salva Cuoco</button>
		</form>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha384-L2j5YpXvGOsj6zU6+49axwFeVQxwOrCdEaeJIpK7oXaIxpTtmKxaL3CZVCG+ABm1"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
		integrity="sha384-lOUI+NRDwAS0FqNkuHSzpJvDkpZ4P97XjWehoGQnoa7eS+bv3WumZNnq6q5nqdJX"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha384-XXXXXX"
		crossorigin="anonymous"></script>
</body>

</html>