<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwFood - Admin')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbarAdmin :: navbarAdmin}"></div>

	<!-- Corpo principale della pagina -->
	<div class="container mt-5 vh-50">
		<h1 class="text-center">Benvenuto nella sezione Admin di SiwFood</h1>
		<div class="row row-cols-1 row-cols-md-2 g-1">
			<!-- Gestione Cuochi -->
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Gestione Cuochi</h4>
					</div>
					<div class="card-body">
						<p>Qui puoi gestire i cuochi registrati nel sistema.</p>
						<a href="/admin/formNewCuoco" class="btn btn-primary w-100">Aggiungi Nuovo Cuoco</a>
						<a href="/admin/indexCuochi" class="btn btn-secondary w-100 mt-2">Visualizza Cuochi</a>
					</div>
				</div>
			</div>
			<!-- Gestione Ricette -->
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Gestione Ricette</h4>
					</div>
					<div class="card-body">
						<p>Qui puoi gestire le ricette registrate nel sistema.</p>
						<a href="/admin/formNewRicetta" class="btn btn-primary w-100">Aggiungi Nuova Ricetta</a>
						<a href="/admin/indexRicette" class="btn btn-secondary w-100 mt-2">Visualizza Ricette</a>
					</div>
				</div>
			</div>
			<!-- Gestione Utenti -->
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Gestione Utenti</h4>
					</div>
					<div class="card-body">
						<p>Qui puoi gestire gli utenti registrati nel sistema.</p>
						<a href="/admin/formNewUtente" class="btn btn-primary w-100">Aggiungi Nuovo Utente</a>
						<a href="/admin/indexUtenti" class="btn btn-secondary w-100 mt-2">Visualizza Utenti</a>
					</div>
				</div>
			</div>
			<!-- Gestione Ingredienti -->
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Gestione Ingredienti</h4>
					</div>
					<div class="card-body">
						<p>Qui puoi gestire gli ingredienti registrati nel sistema.</p>
						<a href="/admin/formNewIngrediente" class="btn btn-primary w-100">Aggiungi Nuovo Ingrediente</a>
						<a href="/admin/indexIngredienti" class="btn btn-secondary w-100 mt-2">Visualizza
							Ingredienti</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>