<!DOCTYPE html>
<html lang="it">

<head><title>SiwFood Footer</title></head>

<body>
	<!-- Footer -->
	<footer class="footer text-center text-lg-start mt-auto">
		<div class="container p-4 pb-0">
			<section class="">
				<div class="row">
					<div class="col-12 col-md-6 col-lg-3 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">SiwFood</h6>
						<p>Esplora un mondo di sapori e scopri le migliori ricette da chef rinomati, tutto su SiwFood.
						</p>
					</div>
					<div class="col-6 col-md-3 col-lg-2 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
						<p><a href="/cuochi" class="text-white">Cuochi</a></p>
						<p><a href="/ricette" class="text-white">Ricette</a></p>
					</div>
					<div class="col-6 col-md-3 col-lg-2 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">Account</h6>
						<p><a href="/login" class="text-white">Login</a></p>
						<p><a href="/register" class="text-white">Sign Up</a></p>
					</div>
					<div class="col-12 col-md-6 col-lg-3 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">Contatti</h6>
						<p><i class="fas fa-home mr-3"></i> Roma, RM 10012, IT</p>
						<p><i class="fas fa-envelope mr-3"></i> info@siwfood.com</p>
						<p><i class="fas fa-phone mr-3"></i> + 39 3466692707</p>
					</div>
				</div>
			</section>
		</div>
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2024 SiwFood
		</div>
	</footer>

</body>

</html>