<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Gestione Ingredienti</title>
	<!-- Aggiungi i tuoi link ai CSS e JS qui -->
</head>

<body>
	<div th:fragment="ingredienti(ricetta, ingredienti)">
		<div>Ingredienti</div>
		<div id="ingredienti-section" class="scrollable-container">
			<!-- Verifica che ricetta non sia null e che abbia righeRicetta -->
			<div th:if="${ricetta != null && ricetta.righeRicetta!=null}">
				<div th:each="rigaRicetta : ${ricetta.righeRicetta}"
					class="row align-items-center mb-2 ingredienti-group">
					<div class="col-7">
						<select class="form-control" name="ingredientiIds">
							<option th:each="ing : ${ingredienti}" th:value="${ing.id}" th:text="${ing.nome}"
								th:selected="${ing.id == rigaRicetta.ingrediente.id}"></option>
						</select>
					</div>
					<div class="col-3 p-1">
						<input type="text" class="form-control" name="quantita" th:value="${rigaRicetta.quantita}"
							placeholder="Quantità">
					</div>
					<div class="col-2">
						<button type="button" class="btn btn-danger remove-ingrediente">
							<img src="/images/trash.svg" alt="Remove" class="img-fluid">
						</button>
					</div>
				</div>
			</div>


			<div class="row align-items-center mb-2 ingredienti-group">
				<div class="col-7">
					<select class="form-control" name="ingredientiIds" required>
						<option th:each="ing : ${ingredienti}" th:value="${ing.id}" th:text="${ing.nome}">Ingrediente
						</option>
					</select>
				</div>
				<div class="col-3 p-1">
					<input type="text" class="form-control" name="quantita" placeholder="Quantità">
				</div>
				<div class="col-2">
					<button type="button" class="btn btn-danger remove-ingrediente">
						<img src="/images/trash.svg" alt="Remove" class="img-fluid">
					</button>
				</div>
			</div>
		</div>
	</div>
	<template id="ingredient-template">
		<div class="row align-items-center mb-2 ingredienti-group">
			<div class="col-7">
				<select class="form-control" name="ingredientiIds" required>
					<option th:each="ing : ${ingredienti}" th:value="${ing.id}" th:text="${ing.nome}">Ingrediente
					</option>
				</select>
			</div>
			<div class="col-3 p-1">
				<input type="text" class="form-control" name="quantita" placeholder="Quantità">
			</div>
			<div class="col-2">
				<button type="button" class="btn btn-danger remove-ingrediente">
					<img src="/images/trash.svg" alt="Remove" class="img-fluid">
				</button>
			</div>
		</div>
	</template>
	<div class="d-flex justify-content-center">
		<button type="button" class="btn btn-primary mb-3" id="add-ingrediente">Aggiungi Ingrediente</button>
	</div>
	<div class="d-flex justify-content-center">
		<a href="/addIngredienti" class="text-primary mb-3">Non trovi l'ingrediente che cerchi? Aggiungilo qui!</a>
	</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const addButton = document.getElementById('add-ingrediente');
			const ingredientiSection = document.getElementById('ingredienti-section');
			const ingredientTemplate = document.getElementById('ingredient-template').content;

			addButton.addEventListener('click', function () {
				const clone = document.importNode(ingredientTemplate, true);
				ingredientiSection.appendChild(clone);
			});

			ingredientiSection.addEventListener('click', function (event) {
				if (event.target.closest('.remove-ingrediente')) {
					const row = event.target.closest('.ingredienti-group');
					if (row) {
						row.remove();
					}
				}
			});
		});
	</script>
</body>

</html>