<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Navbar</title>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body th:fragment="navbar">
	<nav class="navbar navbar-expand-lg fixed-top">
		<div class="container">
			<!-- Bootstrap CSS -->
			<a class="navbar-brand " href="/">SiwFood</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<!-- Inizio Elementi visibili per utenti non registrati e cuohi  -->
					<li class="nav-item">
						<a class="nav-link" th:if="${ruolo != 'ADMIN'}" href="/cuochi">Cuochi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:if="${ruolo != 'ADMIN'}" href="/ricette">Ricette</a>
					</li>
					<!-- Fine Elementi visibili per utenti non registrati e cuohi -->

					<!-- Inizio Elementi visibili per cuohi -->
					<li class="nav-item">
						<a class="nav-link" th:if="${ruolo == 'DEFAULT'}" href="/le-mie-ricette"> Le mie Ricette</a>
					</li>
					<!-- Fine Elementi visibili per cuohi -->

					<!-- Inizio Elementi visibili per admin -->
					<li class="nav-item">
						<a class="nav-link" th:if="${ruolo == 'ADMIN'}" href="/admin/indexRicette">Ricette</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:if="${ruolo == 'ADMIN'}" href="/admin/indexCuochi">Cuochi</a>
					</li>
					<!-- Fine Elementi visibili per admin -->

				</ul>

				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				</form>
				<div class="d-flex align-items-center">
					<a type="button" class="btn btn-success me-2" th:if="${userDetails == null}" href="/login">Login</a>
					<div class="dropdown" th:if="${userDetails != null}">
						<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
							id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
							
							<!-- Se l'immagine è presente -->
							<img th:if="${cuocoCorrente.urlImage}" th:src="@{${cuocoCorrente.urlImage}}"
								alt="Account Image" class="rounded-circle" width="50" height="50">

							<!-- Se l'immagine non è presente -->
							<img th:if="${cuocoCorrente==null or cuocoCorrente.urlImage==null}" th:src="@{/images/SenzaFoto.jpeg}"
								alt="Account Image" class="rounded-circle" width="50" height="50">
							<span th:text="${userDetails.username}" class="text-capitalize d-none"></span>
							
						</a>
						<ul class="dropdown-menu" aria-labelledby="userDropdown">
							<li><a class="dropdown-item" href="/profile">Profile</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="/logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>