/* src/main/resources/static/css/custom-bootstrap.css */

a {
    text-decoration: underline;
    color: rgb(103, 107, 110);
}

/* Centrare il testo nel jumbotron */
.jumbotron {
    text-align: center;
}

body {
    background-color: #f8f9fa !important; /* bg-light */
    padding-top: 3rem !important; /* py-5 */
    padding-bottom: 3rem !important; /* py-5 */
    background-color: #C8E6C9 !important; /* Verde molto chiaro */
}

.btn-primary {
    color: #fff;
    background-color: #388E3C; /* Verde scuro */
    border-color: #388E3C; /* Colore del bordo */
}

.btn-outline-primary {
    color: #388E3C; /* Testo verde scuro */
    border-color: #388E3C; /* Bordo verde scuro */
}

.btn-primary:hover,
.navbar .btn-outline-primary:hover {
    color: #fff; /* Testo bianco */
    background-color: #2E7D32; /* Verde ancora più scuro per hover */
    border-color: #2E7D32; /* Bordo verde ancora più scuro per hover */
}

/* Aggiunge spazio tra i pulsanti */
.form-inline {
    margin-right: 10px; /* Aggiungi spazio a destra tra i pulsanti */
}

/* Aggiunge spazio tra i pulsanti */
.navbar .btn {
    margin-right: 10px; /* Aggiungi spazio a destra tra i pulsanti */
}

/* Personalizzazione della navbar */
.navbar {
    background-color: #81C784;
}

.jumbotron {
    background-color: #C8E6C9 !important; /* Verde molto chiaro */
}

/* Stile personalizzato per il modulo di registrazione utente */
.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.form-container .btn-primary {
    background-color: #388E3C;
    border-color: #388E3C;
}

.form-container .btn-primary:hover {
    background-color: #2E7D32;
    border-color: #2E7D32;
}

.form-container .form-group {
    margin-bottom: 1rem;
}

.form-container .form-control:focus {
    border-color: #81C784;
    box-shadow: 0 0 0 0.2rem rgba(129, 199, 132, 0.25);
}

.form-container h2 {
    color: #388E3C;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Stile personalizzato per la pagina della ricetta */

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #388E3C;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: none;
}
