/* src/main/resources/static/css/custom-bootstrap.css */

a {
    text-decoration: underline;
    color: rgb(103, 107, 110);
}

/* Centrare il testo nel jumbotron */
.jumbotron {
    text-align: center;
}

body {
    padding-top: 3rem !important; /* py-5 */
    background-color: #C8E6C9 !important; /* Verde molto chiaro */
}

.btn-primary {
    color: #fff;
    background-color: #388E3C; /* Verde scuro */
    border-color: #388E3C; /* Colore del bordo */
}

.btn-outline-primary {
    color: #388E3C; /* Testo verde scuro */
    border-color: #388E3C; /* Bordo verde scuro */
}

.btn-primary:hover,
.navbar .btn-outline-primary:hover {
    color: #fff; /* Testo bianco */
    background-color: #2E7D32; /* Verde ancora più scuro per hover */
    border-color: #2E7D32; /* Bordo verde ancora più scuro per hover */
}

/* Aggiunge spazio tra i pulsanti */
.form-inline {
    margin-right: 10px; /* Aggiungi spazio a destra tra i pulsanti */
}

/* Aggiunge spazio tra i pulsanti */
.navbar .btn {
    margin-right: 10px; /* Aggiungi spazio a destra tra i pulsanti */
}

/* Personalizzazione della navbar */
.navbar {
    background-color: #81C784;
}

.jumbotron {
    background-color: #C8E6C9 !important; /* Verde molto chiaro */
}

/* Stile personalizzato per il modulo di registrazione utente */
.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.form-container .btn-primary {
    background-color: #388E3C;
    border-color: #388E3C;
}

.form-container .btn-primary:hover {
    background-color: #2E7D32;
    border-color: #2E7D32;
}

.form-container .form-group {
    margin-bottom: 1rem;
}

.form-container .form-control:focus {
    border-color: #81C784;
    box-shadow: 0 0 0 0.2rem rgba(129, 199, 132, 0.25);
}

.form-container h2 {
    color: #388E3C;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Stile personalizzato per la pagina della ricetta */

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #388E3C;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: none;
}

/* Stile personalizzato per il footer */
footer {
    color: white;
    background-color: #388E3C;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #C8E6C9;
}

footer .container {
    padding: 2rem 0;
}

.cuoco-img {
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
}

.recipe-list ul {
    list-style: none;
    padding: 0;
}

.recipe-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-list li a {
    color: #388E3C;
    font-weight: bold;
    text-decoration: none;
}

.recipe-list li a:hover {
    text-decoration: underline;
}

.recipe-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
