<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header('Aggiungi Ingrediente')"></head>

<body>
	<!-- Include la navbar dal frammento specificato -->
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container my-5">
		<div class="form-container">
			<h2 class="text-center mb-4">Aggiungi Ingredienti</h2>
			<div class="row">
				<div class="col-12 col-md-6 mx-auto">
					<div class="card mb-4 no-hover">
						<div class="card-body p-0 image-container">
							<!-- Immagine degli ingredienti -->
							<img src="/images/Ingredienti.jpeg" alt="Ingredienti" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 mx-auto">
					<!-- Form per l'aggiunta degli ingredienti -->
					<form th:action="@{/addIngredienti}" method="post">
						<div id="ingredienti-container" class="scrollable-container overflow-auto">
							<div class="form-group ingredienti-group">
								<!-- Template per aggiungere nuovi ingredienti -->
								<template id="create-ingredient-template">
									<div class="row align-items-center mb-2 justify-content-center">
										<div class="col-9 col-md-9 ms-auto  me-0">
											<input type="text" class="form-control" name="ingredienti"
												placeholder="Nome dell'ingrediente" required>
										</div>
										<div class="col-1 col-md-1 me-auto p-0">
											<button type="button" class="btn btn-danger remove-ingrediente"
												onclick="eliminaIngrediente(this)">
												<img src="/images/trash.svg" alt="Remove" style="filter: invert(1);">
											</button>
										</div>
									</div>
								</template>
							</div>
						</div>
						<div class="text-center">
							<!-- Bottone per aggiungere un altro ingrediente -->
							<button type="button" class="btn btn-primary mt-3" onclick="aggiungiIngrediente()">
								<i class="fas fa-plus"></i> Aggiungi Altro Ingrediente
							</button>
						</div>

				</div>
				<!-- Bottone per salvare gli ingredienti -->
				<div class="text-center">
					<button type="submit" class="btn btn-success mt-3 w-100">
						Salva Ingredienti
					</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Include il footer dal frammento specificato -->
	<div th:replace="fragments/footer :: footer"></div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const addButton = document.querySelector('button[onclick="aggiungiIngrediente()"]');
			const ingredientiContainer = document.getElementById('ingredienti-container');
			const ingredientTemplate = document.getElementById('create-ingredient-template').content;

			function aggiungiIngrediente() {
				const clone = document.importNode(ingredientTemplate, true);
				ingredientiContainer.appendChild(clone);
			}

			addButton.addEventListener('click', aggiungiIngrediente);

			// Aggiungi un ingrediente iniziale al caricamento della pagina
			aggiungiIngrediente();

			ingredientiContainer.addEventListener('click', function (event) {
				if (event.target.closest('.remove-ingrediente')) {
					const row = event.target.closest('.row');
					if (row) {
						row.remove();
					}
				}
			});
		});

		function eliminaIngrediente(button) {
			const row = button.closest('.row');
			if (row) {
				row.remove();
			}
		}
	</script>

</body>

</html>
