<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwFood - Inserimento Cuoco')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:if="${ruolo == 'ADMIN'}">
		<div th:replace="~{fragments/navbar :: navbar}"></div>
	</div>
	<div class="container form-container mt-5">
		<h2 class="text-center mb-4">Aggiungi Nuovo Cuoco</h2>
		<form th:action="@{/registerCuoco}" method="post" enctype="multipart/form-data" th:object="${credenziali}">
			
			<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger text-center" role="alert">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="mb-0">...</p>
			</div>


			<div class="row">

				<!-- Colonna Immagine -->
				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-header">
							<h5 class="card-title mb-0">Immagine Cuoco</h5>
						</div>
						<div class="card-body p-0">
							<div class="image-container">
								<img src="/images/default/senzaFoto.jpeg" class="rounded cuoco-img" alt="Immagine Cuoco"
									id="cuocoImagePreview" />
							</div>
						</div>
					</div>
				</div>

				<!-- Colonna Inserimento Dati -->
				<div class="col-md-4">
					<div class="mb-3">
						<label for="nome" class="form-label">Nome</label>
						<input type="text" class="form-control" id="nome" name="nome" required>
						<span th:if="${#fields.hasErrors('cuoco.nome')}" th:errors="${cuoco.nome}"
							th:style="'color:red'"></span>
					</div>
					<div class="mb-3">
						<label for="cognome" class="form-label">Cognome</label>
						<input type="text" class="form-control" id="cognome" name="cognome" required>
						<span th:if="${#fields.hasErrors('cuoco.cognome')}" th:errors="${cuoco.cognome   }"
							th:style="'color:red'"></span>
					</div>
					<div class="mb-3">
						<label for="dataDiNascita" class="form-label">Data di Nascita</label>
						<input type="date" class="form-control" id="dataDiNascita" name="dataDiNascita" required>
					</div>
					<div class="mb-3">
						<label for="fileImage" class="form-label">Carica una foto del cuoco (opzionale)</label>
						<input type="file" class="form-control" id="fileImage" name="fileImage" accept="image/*"
							onchange="loadFile(event)">
						<div class="form-text">Assicurati di caricare una foto chiara e recente del cuoco.</div>
					</div>
				</div>

				<!-- Colonna Dati di Accesso -->
				<div class="col-md-4">
					<div class="mb-3">
						<label for="username" class="form-label">Username</label>
						<input type="text" class="form-control" id="username" name="username" required>

					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" name="email" required>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password</label>
						<div class="input-group">
							<input type="password" class="form-control" id="password" name="password" required>
							<button type="button" class="btn btn-outline-secondary" id="togglePassword">
								<i class="bi bi-eye"></i>
							</button>
						</div>
					</div>
					<div class="mb-3">
						<label for="confirmPassword" class="form-label">Conferma Password</label>
						<div class="input-group">
							<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
								required>
							<button type="button" class="btn btn-outline-secondary" id="toggleConfirmPassword">
								<i class="bi bi-eye"></i>
							</button>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-success w-100">Salva Cuoco</button>
			</div>
		</form>
	</div>

	<!-- Include il footer -->
	<div th:if="${ruolo == 'ADMIN'}" th:replace="~{fragments/footer :: footer}">  </div>


	<!-- Script per la preview dell'immagine -->
	<script>
		function loadFile(event) {
			var image = document.getElementById('cuocoImagePreview');
			image.src = URL.createObjectURL(event.target.files[0]);
		}

		document.getElementById('togglePassword').addEventListener('click', function () {
			var passwordField = document.getElementById('password');
			var passwordFieldType = passwordField.getAttribute('type');
			if (passwordFieldType === 'password') {
				passwordField.setAttribute('type', 'text');
				this.innerHTML = '<i class="bi bi-eye-slash"></i>';
			} else {
				passwordField.setAttribute('type', 'password');
				this.innerHTML = '<i class="bi bi-eye"></i>';
			}
		});

		document.getElementById('toggleConfirmPassword').addEventListener('click', function () {
			var confirmPasswordField = document.getElementById('confirmPassword');
			var confirmPasswordFieldType = confirmPasswordField.getAttribute('type');
			if (confirmPasswordFieldType === 'password') {
				confirmPasswordField.setAttribute('type', 'text');
				this.innerHTML = '<i class="bi bi-eye-slash"></i>';
			} else {
				confirmPasswordField.setAttribute('type', 'password');
				this.innerHTML = '<i class="bi bi-eye"></i>';
			}
		});
	</script>
</body>

</html>