<!DOCTYPE html>
<html lang="it">
<head th:replace="~{fragments/header :: header(title='SiwFood - Risultati Trovati')}"></head>
<body>
    <!-- Include la navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container my-5">
        <h1 class="mb-3 text-center">Risultati Trovati</h1>

        <!-- Sezione Cuochi -->
        <h2 class="my-5 text-center">Cuochi Trovati</h2>
        <div th:if="${cuochi == null || cuochi.isEmpty()}" class="alert alert-warning text-center w-75 mx-auto">
            <strong>Nessun cuoco trovato.</strong> Prova a modificare i criteri di ricerca o aggiungi nuovi cuochi al sistema.
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col" th:each="cuoco : ${cuochi}">
                <div class="card cuoco-card">
                    <div class="image-container">
                        <img th:src="${cuoco.urlImage}" class="card-img-top cuoco-img" alt="Immagine Cuoco" />
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}">Bruno Barbieri</h5>
                        <a th:href="@{'/cuoco' + '/' + ${cuoco.id}}" class="btn btn-primary mt-auto">Visualizza Cuoco</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sezione Ricette -->
        <h2 class="my-5 text-center">Ricette Trovate</h2>
        <div th:if="${ricette == null || ricette.isEmpty()}" class="alert alert-warning text-center w-75 mx-auto">
            <strong>Nessuna ricetta trovata.</strong> Prova a cercare con altri termini o aggiungi nuove ricette al sistema.
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col" th:each="ricetta : ${ricette}">
                <div class="card">
                    <img th:src="${ricetta.urlsImages[0]}" class="recipe-img" alt="Immagine Ricetta" />
                    <div class="card-body">
                        <h5 class="card-title" th:text="${ricetta.nome}">Lasagna</h5>
                        <p class="card-text">
                            <a th:href="@{'/cuoco' + '/' + ${ricetta.cuoco.id}}"
                               th:text="'('+${ricetta.cuoco.nome}+ ' ' + ${ricetta.cuoco.cognome}+')'">Bruno Barbieri</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{'/ricetta' + '/' + ${ricetta.id}}" class="btn btn-primary">Visualizza Ricetta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include il footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
