<!DOCTYPE html>
<html lang="it">
<head th:replace="~{fragments/header :: header(title='SiwFood - Homepage')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="jumbotron jumbotron-fluid vh-50 mt-3 mb-3">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 d-flex justify-content-center">
					<div class="text-center">
						<div class="text-center mt-5">
							<img src="/images/logo.png" class="rounded-4 img-fluid mb-4" alt="Logo SiwFood"
								style="width: 100%; max-width: 500px;">

							<h1 class="display-4">Benvenuti su SiwFood!</h1>
							<p class="lead mb-4">
								Esplora un mondo di sapori e scopri le migliori ricette da chef rinomati, tutto su
								SiwFood.
								Da piatti gourmet a creazioni vegetariane e dolci da sogno, troverai ispirazione per
								ogni
								momento e occasione.
							</p>
						</div>
					</div>
				</div>
				<div class="text-center mt-4">
					<p class="lead">
						Unisciti alla nostra community culinaria, condividi le tue creazioni e partecipa ai nostri
						concorsi
						per vincere fantastici premi!
					</p>
					<a class="btn btn-primary btn-lg" href="/ricette" role="button">Esplora le Ricette</a>
					<a class="btn btn-success btn-lg" href="/cuochi" role="button">Scopri i Cuochi</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>