<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwFood - Login')}"></head>

<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="form-container shadow-sm">
					<div class="form-container-body">
						<h2 class="mb-4 text-center">Login</h2>
						<form th:action="@{/login}" method="post">
							<div th:if="${param.error != null}" class="alert alert-danger text-center" role="alert">
								<strong>Errore:</strong> Username o password errati
							</div>
							<div class="mb-3">
								<label for="username" class="form-label">Username</label>
								<input type="text" class="form-control" id="username" name="username" required>
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Password</label>
								<div class="input-group">
									<input type="password" class="form-control" id="password" name="password" required>
									<button type="button" class="btn btn-outline-secondary" id="togglePassword">
										<i class="bi bi-eye"></i>
									</button>
								</div>
							</div>
							<button type="submit" class="btn btn-primary w-100">Login</button>
							<div class="text-center mt-3">

								<a href="/forgot-password" class="text-primary">Password dimenticata?</a>
							</div>
							<hr>
							<div class="text-center">
								<a href="/registerCuoco" class="btn btn-success w-100">Registrati come Cuoco</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Icone di Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
	<script>
		document.getElementById('togglePassword').addEventListener('click', function () {
			var passwordField = document.getElementById('password');
			var passwordFieldType = passwordField.getAttribute('type');
			if (passwordFieldType === 'password') {
				passwordField.setAttribute('type', 'text');
				this.innerHTML = '<i class="bi bi-eye-slash"></i>';
			} else {
				passwordField.setAttribute('type', 'password');
				this.innerHTML = '<i class="bi bi-eye"></i>';
			}
		});
	</script>
</body>

</html>