<!DOCTYPE html>
<html lang="it">
<head th:replace="~{fragments/header :: header(title='SiwFood - Ricetta')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="container">
		<div class="text-center mb-5">
		</div>
		<div th:if="${ricetta}">
			<h1 class="text-center mb-5" th:text="${ricetta.nome}">Lasagna</h1>
			<div class="row mb-4">
				<div class="col-md-6" th:each="urlImage : ${ricetta.urlsImages}">
					<img th:src="${urlImage}" class="img-fluid rounded-4 mb-3" />
				</div>
				<div class="col-md-6">
					<p class="text-justify" th:text="${ricetta.descrizione}"></p>
				</div>
			</div>
		</div>
		<div th:unless="${ricetta}" class="text-center">Non esiste</div>

		<div class="row">
			<div class="col-12">
				<h2 class="mb-4">Ingredienti</h2>
				<div th:if="${ricetta.righeRicetta==null || ricetta.righeRicetta.isEmpty()}"
					class="alert alert-warning">
					Non ci sono ingredienti per la ricetta nel sistema
				</div>
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6" th:each="rigaRicetta, iterStat : ${ricetta.righeRicetta}">
								<div
									class="ingredient-item d-flex justify-content-between align-items-center p-2 border-bottom">
									<span th:text="${rigaRicetta.ingrediente.nome}"></span>
									<span th:text="' ' + ${rigaRicetta.quantita}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>
	
</body>

</html>