<!DOCTYPE html>
<html>

<head>
	<title>Ricette</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link href="/css/style.css" rel="stylesheet">

</head>

<nav class="navbar navbar-expand navbar-light fixed-top" style="background-color:#9CCC65">
	<div class="container">
		<a class="navbar-brand" href="/">SiwFood</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/cuochi">Cuochi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ricette">Ricette</a>
				</li>
			</ul>
		</div>

            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
  
		<button type="button" class="btn btn-primary" href="/registra">Login</button>
		<button type="button" class="btn btn-success">Sign Up</button>
	</div>
	</div>
</nav>

<body>
	<div class="container">
		<div class="mt-5"></div>
		<img src="/images/logo.png" width="40%" style="display: block; margin: 0 auto;" />
		<h1>Ricette</h1>

		<div th:if="${ricette==null || ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
		<ul>
			<li th:each="ricetta : ${ricette}">
				<a th:href="@{'/ricetta' + '/' + ${ricetta.id}}" th:text="${ricetta.nome}">Lasagna</a>
				<a th:href="@{'/cuoco' + '/' + ${ricetta.cuoco.id}}"
					th:text="'('+${ricetta.cuoco.nome}+ ' ' + ${ricetta.cuoco.cognome}+')'">Bruno Barbieri</a>
			</li>
		</ul>
	</div>
</body>

</html>