<!DOCTYPE html>
<html>

<head>
	<title>Ricette</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><a href="/"><img src="/images/logo.png" width="20%"/></a></div>
	<h1>Ricette</h1>
	
	<div th:if="${ricette==null || ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
	
		<li th:each="ricetta : ${ricette}">
			<a th:href="@{'/ricetta' + '/' + ${ricetta.id}}" th:text="${ricetta.nome}">Lasagna</a>
			<a th:href="@{'/cuoco' + '/' + ${ricetta.cuoco.id}}" th:text="'('+${ricetta.cuoco.nome}+ ' ' + ${ricetta.cuoco.cognome}+')'">Bruno Barbieri</a>
		</li>
	</ul>
</body>

</html>