<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(title='SiwFood - Login Successo')}">
	<!-- Includi i file CSS di Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container mt-5 d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
		<div class="row justify-content-center w-100">
			<div class="col-md-6">
				<div class="alert alert-success text-center" role="alert">
					Accesso riuscito! Benvenuto!
				</div>
				<div class="d-flex justify-content-center">
					<a href="/" class="btn btn-primary">Torna alla Homepage</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Includi gli script di Bootstrap e jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>