<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(title='SiwFood - Login Successo')}">
</head>

<body>

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-11 text-center card no-hover">
                <!-- Messaggio di successo -->
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Accesso riuscito!</h4>
                    <p>Benvenuto! Siamo felici di averti con noi.</p>
                    <hr>
                    <p class="mb-0">Goditi la tua esperienza su SiwFood.</p>

                    <!-- Bottone per tornare alla homepage -->
                    <a href="/" class="btn btn-primary my-3">Torna alla Homepage</a>

                    <!-- Card con immagine -->
                    <div class="card col-md-11 col-lg-6 mx-auto cuoco-card shadow-sm p-3 mb-5 bg-white rounded text-center">
                        <img src="/images/default/SenzaFoto.jpeg" class="img-fluid rounded-circle mx-auto d-block" alt="Immagine Cuoco">
                        <div class="card-body">
                            <h5 class="card-title">Il nostro cuoco</h5>
                            <p class="card-text">Scopri le sue ricette e le delizie che ha preparato per te.</p>
                            <a href="/ricette" class="btn btn-success mt-3">Scopri di più</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
