<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='Aggiungi Ricetta')}"></head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div th:replace="~{fragments/formRicetta :: formRicetta(
            titolo='Aggiungi Ricetta',
            action='/addRicetta/',
            ricetta=${ricetta},
            ingredienti=${ingredienti},
        )}"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
