<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/header :: header(title='SiwFood - Le Mie Ricette')}"></head>

<body>
	<!-- Include la navbar -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<div class="container my-5">
		<h1 class="mb-4 text-center">Le Mie Ricette</h1>
		<div class="text-center mb-4">
			<a class="btn btn-primary btn-lg" href="/addRicetta" role="button">Aggiungi Nuova Ricetta</a>
		</div>
		<div th:if="${cuocoCorrente.ricette==null || cuocoCorrente.ricette.isEmpty()}">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-9 alert alert-warning text-center d-flex justify-content-center">
						<div class="row d-flex justify-content-center">
							<div class="col-12 col-lg-10">
								<p>Ops! Non ci sono ancora ricette nel sistema. Non vediamo l'ora di scoprire le tue
									deliziose
									creazioni culinarie!</p>
								<div class="card no-hover">
									<img src="/images/WeWantYourRecipes.png" alt="We want your recipes"
										class="card-img-top">
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
			<div class="col" th:each="ricetta : ${cuocoCorrente.ricette}">
				<div class="card h-90">
					<img th:src="${ricetta.urlsImages[0]}" class="recipe-img" alt="Immagine Ricetta" />
					<div class="card-body text-center">
						<h5 class="card-title" th:text="${ricetta.nome}">Lasagna</h5>
					</div>
					<div class="card-footer d-flex">
						<a th:href="@{'/update/ricetta' + '/' + ${ricetta.id}}"
							class="btn btn-primary w-50 me-2">Modifica</a>
						<form th:action="@{'/delete/ricetta/' + ${ricetta.id}}" method="post" class="flex-grow-1">
							<button type="submit" class="btn btn-danger w-100">Elimina</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Include il footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>